{% extends "layout.html" %}

{% block content_header %}
	<div class="content_header">
		<h1>Credits</h2>
	</div>
{% endblock %}

{% block content %}
	<div class="credits">
		<h2><span>Principal Investigator:</span> John Kappelman, PhD</h2>
		<h2><span>Project Producer:</span> Joe TenBarge, Assistant Dean</h2>
		<h2><span>Project Manager and Programmer:</span> Peter Keane</h2>
		<h2><span>Project Developer:</span> Adrienne Witzel</h2>
		<h2><span>Art Direction & Graphic Design:</span> Suloni Robertson</h2>
		<h2><span>Photography and graphic design:</span> Student Technology Assistant, David Johannes</h2>
		<h2><span>Illustrator:</span> Student Technology Assistant, Emma Whelan</h2>
		<h2><span>Computer Programmer:</span> Stuart Ross</h2>
		<h2><span>Special Thanks:</span>  Andrew Barr, Nicole Hauck, Amber Heard-Booth, Jaime Mata-Miguez, Lily Witzel &  Student Technology Assistants: Dustin Butler, Chris Gilette, Ashley Solano, Maxx Scholten, Christine Wu</h2>
	</div>
{% endblock %}
