{% extends "layout.html" %}

{% block content_header %}
	<div class="content_header">
		<h1>FAQ</h1>
	</div>
{% endblock %}

{% block content %}
<div class="faq">
	<dl>
        <dt> Where is Laetoli?

        <dd>Laetoli is an archaeological site located in Northern Tanzania, Africa.  Several hominin fossils, as well as the 3.6 million year old trackways have been discovered at the site.  


        <dt>Who left the tracks?  Are they human?

        <dd>The tracks were made by three individuals that belonged to the species A. afarensis - small statured, small brained, bipedal hominins that lived in East Africa approximately 4 - 2.8 million years ago.  Many anthropologists believe A. afarensis to be an early ancestor of modern humans.  


        <dt>Are they dinosaur footprints?

        <dd>No. The footprints found at Laetoli belong to a number of different types of animals, including elephants, giraffes, birds, and even a centipede. Some of the most exciting tracks belong to a species known as A. afarensis, an early human ancestor. No dinosaur tracks have been discovered at Laetoli.


        <dt>How old are the prints?

        <dd>The trackways date to approximately 3.6 million years ago.  



        <dt>How many individuals where there?

        <dd>There were three individuals, two males and one female. At first, many anthropologists believed there were only two, with one individual significantly larger than the other. Closer analysis revealed a third large individual was present. While this third hominin walked along with the other two, he stepped into the footprints left behind by the first larger individual.



        <dt>How were the footprints made? How can a footprint be a fossil?

        <dd>The tracks were made after the hominins and other animals walked through volcanic ash that had been recently deposited and was turned to mud by a rain storm. As it began to dry out, the ash hardened and preserved the impressions made in the mud. Subsequent volcanic eruptions covered that area several more times and buried the footprints. Over the next 3.6 million years, the top layers of soil were slowly eroded away until they were exposed and discovered in 1978.


        <dt>I don't have fingerpaint. What other materials can I use to perform this exercise?

        <dd>You can use any material that will hold an impression.  For instance, you can use a yoga mat, a sand box, water with just a few drops of paint, loose dirt, or beach sand.



        <dt>Does the Footprint exercise have any implications outside of the fossil record?

        <dd>It may be possible to use this activity in forensic science. If footprints were left at the scene of a crime, this same data could be used to determine the height of the suspect.



        <dt>Does the website require a login?
        <dd>You must log in to contribute information to the website.  Anyone with a Google account is authorized to begin adding data.  If you do not already have a Google login, you can create an account here:  <a href="https://www.google.com/accounts/CreateAccount">Create a Google Account</a> 
        </dd>

	</dl>
</div>
{% endblock %}
