{% extends "layout.html" %}

{% block content %}
<h2>Footprints Exercise: Data Entry</h2>
<form method="post" action="/exercise/footprints/form">
	<table id="data_form">
		<tr>
			<th>Gender</th>
			<th>Age</th>
			<th>Foot Length (cm)</th>
			<th>Height (cm)</th>
			<th>Stride Length (cm)</th>
			<th></th>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="foot_length"> 
			</td>
			<td>
				<input type="text" name="height"> 
			</td>
			<td>
				<input type="text" name="stride_length"> 
			</td>
			<td>
				<input type="submit" value="submit data"> 
			</td>
		</tr>
        {% for item in items %}
        <tr>
        <td>{{ item.gender }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.foot_length }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.stride_length }}</td>
        <td>
            <a href="item/{{ item.key }}" class="delete">[x]</a>
        </td>
        </tr>
        {% endfor %}
	</table>
</form>

{% endblock %}
