{% extends "layout.html" %}

{% block content %}
<h2>Footprints Exercise: Data Entry</h2>
<form method="post" action="/exercise/footprints/form">
	<table id="data_form">
		<tr>
			<th>Gender</th>
			<th>Age</th>
			<th>Foot Length (cm)</th>
			<th>Height (cm)</th>
			<th>Stride Length (cm)</th>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<th>Gender</th>
			<th>Age</th>
			<th>Foot Length (cm)</th>
			<th>Height (cm)</th>
			<th>Stride Length (cm)</th>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
		<tr>
			<td>
				<select name="gender">
					<option>choose:</option>
					<option>female</option>
					<option>male</option>
				</select>
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
			<td>
				<input type="text" name="age"> 
			</td>
		</tr>
	</table>
				<input type="submit" value="submit data"> 
</form>

{% endblock %}
