{% extends "layout.html" %}

{% block content %}
<h2>Footprints Exercise: Graphing the Data</h2>
<p>
When the measurements are measurements are graphed, you will see a trend in the data that correlates the relationship between foot length and height, and stride length and height.  Note that individuals with longer strides and longer feet appear to be taller than those individuals with shorter feet and shorter strides.  The foot length and stride length of the Laetoli footprints can be measured and plotted as well.  From this data, an estimate can be made for the height of the individuals who made the tracks at Laetoli, answering the question "How tall were the Australolpithecines?"  
</p>

{% for d in data %}
{{d}}
{% endfor %}
<img src="http://chart.apis.google.com/chart?cht=s&amp;chd=t:{{x_set}}|{{y_set}}&chs=650x300&chco={{gender_colors}}">
{% endblock %}
