{% extends "layout.html" %}

{% block content %}
<h2>The Laetoli Tracks</h2>
<p>
Fossilized footprints found at Laetoli, Tanzania, in 1978 are among some of the most important pieces of the fossil record.  Dating to approximately 3.6 million years ago, the tracks were left in recently deposited volcanic ash by many different animals, including three individuals of the species Australopithecus afarensis, small statured, small brained bipedal hominins that lived in east Africa 4 – 2.8 Ma.   When the ash hardened, the footprints of these prehistoric humans were preserved.
</p>
<p>
The Laetoli Tracks, as they are known, offer a unique opportunity to explore how scientist use present day paradigms (patterns) to understand the past.   Scientists can analyze current patterns of behavior for living humans and apply them to the fossil record in order to better understand extinct hominins.   For example, we know based on current evidence that there is a general correlation (relationship) between stride length, foot length, and height.  The trend is that long strides and long feet belong to taller individuals, while short strides and short feet belong to smaller individuals.  The trends of long/long and short/short can be applied to the fossil record and you can test the hypothesis that A. afarensis was a small statured individual with some sexual dimorphism (i.e., males and females of the same species average different body sizes).   
</p>
<p>
Try it yourself.  You can measure and assess the correlation between foot length and stride length versus body height and then use the data to estimate the height of the Laetoli hominins.
</p>
<form method="get" action="exercise/footprints">
	<input type="submit" value="go to Footprints exercise">
</form>
{% endblock %}
