{% extends "layout.html" %}

{% block head-scripts %}
	<script src="www/js/cross.js"></script>
	<script src="www/js/front.js"></script>
{% endblock %}

{% block content %}
		<img class="default_banner" src="www/images/eA_960x300_laettoli_banner.png " style="background: url(www/images/eA_960x300_modern_banner.jpg);"/>
	<div class="front_page_text">

        <p>Fossilized footprints found at Laetoli, Tanzania, in 1978 are some of the most important discoveries in the fossil record.  Over 3.6 million years ago (Ma), many different animals walked through wet volcanic ash leaving behind their footprints.  Among the animals were three prehistoric humans called Australopithecus afarensis - small statured, small brained, bipedal hominins that lived in East Africa 4 – 2.8 Ma.  These footprints were preserved when the ash dried, hardened, and was covered by another layer of volcanic ash.</p> 

        <p>The Laetoli Trackways offer a tantalizing opportunity to explore how scientists use present day paradigms (patterns) to understand the past. Scientists can analyze patterns of behavior for living humans and apply them to the fossil record.  One such example are the Laetoli tracks, in which scientists can accurately predict the height of extinct A. afarensis by using measurements taken from people today.</p>  

        <p>Evidence points to a correlation (relationship) between stride length, foot length, and height; long strides and long feet tend to belong to taller individuals, while short strides and short feet belong to smaller individuals.  This trend of long/long and short/short can be applied in many ways, even to test the hypothesis that A. afarensis was a small statured individual with large variation in body size between males and females (i.e., sexual dimorphism).</p> 



        <p><strong>Try it yourself</strong>.  You can measure and assess the correlation between foot length and stride length versus body height and then use the data to estimate the height of the Laetoli hominins.
			<form method="get" action="exercise/footprints">
			  <input type="submit" value="Footprints Exercise">
			</form>
		</p>

	</div>
{% endblock %}
