<!doctype html>
<html lang="en">
    <head>
        <base href="{{ app_root }}">
        <meta charset="utf-8">
        <title>eAnthro Community Lab</title>

		<link rel="stylesheet" type="text/css" href="www/css/text.css" /> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="www/css/style.css" /> 
        {% block head-links %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
        <!--
        <script src="www/js/jquery.js"></script>
        <script src="www/js/jquery-ui.js"></script>
        -->
        <script src="www/js/script.js"></script>
        {% block head-scripts %}{% endblock %}

    </head>
    <body>
		<div id="ajaxMsg" class="hide">Loading...</div>
		<header>
			<a href="/"><img title="eAnthro" src="www/images/logo-eanthro-header.png"/></a>
			<nav>
				<ul>
					<!-- <li><a href="exercise/footprints/data_sets">My Data Sets</a></li> -->
					<li><a href="exercise/footprints/graph">View Data Graph</a></li>
				</ul>
			</nav>
		</header>
        <div id="container">
			<div id="content">
                {% if msg %}<h3 class="msg">{{ msg }}</h3>{% endif %}
	            {% block content_header %}{% endblock %}
                {% block content %}default content{% endblock %}
			</div> <!-- end content --> 
        </div>
		<footer>
			<div>
				<ul class="first_footer_section">
					<li><h2><a href="faq">Frequently Asked Questions</a></h2></li>
					<li><h2><a href="credits">e-Fossils Production Credits</a></h2></li>
					<li><a href="http://www.utexas.edu/cola/depts/anthropology/"><img src="www/images/footer_anthropology_link.png"></a></li>
					<li><a href="http://www.utexas.edu/cola/information-technology/"><img src="www/images/footer_laits_link.png"></a></li>
					<li><a href="http://www.utexas.edu/"><img src="www/images/footer_utexas_link.png"></a></li>
				</ul>
			</div>
			<div>
				<h2>Learn about the e-Fossils project</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</div>
			<div>
				<h2>e-Anthro Digital Libraries List</h2>
				<ul class="footer_images">
					<li><a href=""><img src="www/images/footer_eanthro_link.png"/></a></li>
					<li><a href=""><img src="www/images/footer_eforensics_link.png"/></a></li>
					<li><a href="http://www.efossils.org"><img src="www/images/footer_efossils_link.png"/></a></li>
					<li><a href="http://www.elucy.org"><img src="www/images/footer_elucy_link.png"/></a></li>
					<li><a href="http://www.eskeletons.org"><img src="www/images/footer_eskeletons_link.png"/></a></li>
				</ul>
			</div>
		</footer> <!-- end footer -->

    </body>
</html>
