html{
	height:100%;
	background-color:#201E16;
}
body{
	height:100%;
	background-color:#201E16;
	font-family:trebuchet ms;
}

div#container{
	min-height:60%;
	padding:1%;
	background-color:#727068;
	position:relative;
}
div#content{
	width:960px;
	min-height:500px;
	margin:auto;
	background-color:#fff;
	font-family:trebuchet ms;
	-webkit-box-shadow:3px 5px 5px #63625b;
	-moz-box-shadow:3px 5px 5px #63625b;
	box-shadow:3px 5px 5px #63625b;
}

div.header{
	display:block;
	height:100px;
	width:960px;
	margin:auto;
	position:relative;
}
div.header a{
	color:#a99d7d;
	font-family:palatino;
	font-size:1.3em;
	text-decoration:none;
}
div.header img{
	padding-top:30px;
	float:left;
}
div.header div.nav{
	padding-top:65px;
	float:right;
}
div.header div.nav ul li{
	display:inline;
	padding-left:25px;
}
div.header div.nav ul li a{
	text-shadow: #1f1714 -1px -1px 1px;
}
div.header div.nav ul li a:hover{
	color:white;
}

div.footer{
	display:block;
	width:960px;
	margin:auto;
	color:#a99d7d;
	font-family:trebuchet ms;
	background-color:#211e17;
}
div.footer div{
	width:280px;
	padding:10px 10px 20px 10px;
	float:left;
}
div.footer div.first_footer_section ul li img{
	padding-top:15px;
}
div.first_footer_section{
	margin-right:20px;
}
div.last_footer_section{
	margin-left:30px;
}

div.footer div h2{
	font-size:1.2em;
	padding-bottom:5px;
	font-family:palatino;
	font-weight:bold;
	text-shadow: #1f1714 -1px -1px 1px;
}
div.footer div a{
	color:#a99d7d;
/*	color:#a9a48e; */
	text-decoration:none;
}
div.footer div a:hover{
	color:white;
}
div.footer img{
	opacity:.7;
}
div.footer img:hover{
	opacity:1;
}
div.content_header{
	background-color:#1d3444;
	padding:10px;
	color:white;
	font-size:2.5em;
}
div.content_header h1{
	display:inline;
	font-family:palatino;
	font-size:1.2em;
}
div.content_header h2{
	display:inline;
	padding-left:50px;
}
div.generic_content{
	padding:18px;
}
div.banner_container{
	position:relative;
	height:300px;
}
div.banner_container img{
	position:absolute;
}
div.front_page_text{
	padding:18px 36px;  
	text-indent: 1.5em;
	-moz-column-count: 2;
	-moz-column-width: 50%;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-width: 50%;
	-webkit-column-gap: 2em;
}
div.front_page_text input[type="submit"]{
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e1db), to(#bebbac));
    background: -moz-linear-gradient(top,  #e6e1db,  #bebbac);
    border: 1px solid #85857b;
	text-shadow: #fff 1px 1px 1px;
    color: #534d37;
    padding:5px 30px;
    height:35px;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    font-size:1.4em;
    cursor:pointer;
	margin-top:15px;
	margin-left:25%;
}

div.front_page_text input[type="submit"]:hover{
	color:gray;
}

div.generic_container{
	padding:18px;
	min-height:90%;
}
div.instructions_container{
	padding:10px;
	margin:10px 0px;
	background-color:#f2f2f2;
}
div.step_thumbnails{
	width:165px;
	float:left;
}
div.step_thumbnails ul li{
	cursor:pointer;
	padding-top:20px;
	opacity:.5;
}
div.step_thumbnails ul li:first-child{
	padding-top:0px;
}
div.step_thumbnails ul li.selected{
	opacity:1;
}
div.step_viewer{
	float:left;
	width:730px;
}
div.step_viewer h1{
	font-size:1.5em;
	padding-bottom:10px;
}
div.step_viewer img{
	padding-top:10px;
	width:100%;

}
div.step_viewer > div{
	display:none;
}
div.step_viewer > div.selected{
	display:block;
}
div.step_viewer button{
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e1db), to(#bebbac));
    background: -moz-linear-gradient(top,  #e6e1db,  #bebbac);
    border: 1px solid #85857b;
	text-shadow: #fff 1px 1px 1px;
    color: black;
    padding:5px 50px;
    height:35px;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    font-size:1.4em;
    cursor:pointer;
	margin-top:20px;
}
div.step_viewer button:hover{
	color:gray;

}

#previouse_step{
	float:left;
}
#next_step{
	float:right;
}
div.footprint_graph{
	text-align:center;
}
div.footprint_graph div.graph_images{
	margin-top:30px;
}
div.footprint_graph p.data_explanation{
	text-align: justify;
	text-indent: 1.5em;
	font-size:1.1em;
	-moz-column-count: 2;
	-moz-column-width: 50%;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-width: 50%;
	-webkit-column-gap: 2em;
}

div.credits{
	padding:20px;
}
div.credits h2{
	font-size:1em;
	padding:10px 0px;
}
div.credits h2 span{
	font-size:1.2em;

}








.hide{
	display:none;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
